* {
    margin: 0;
    padding: 0;
}



/* ------page1------ */


#aboutpage {
    /* backgroundpage */
    background: url(images/aboutpage.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.about-logo {
    /* logo */
    top: 2%;
    position: absolute;
    left: 1%;
    width: 200px;
    height: 150px;
}

.about-text {
    /* hole text */
    text-align: center;
    color: gold;
    padding-top: 180px;
}

#head-space {
    /* heading */
    font-family: "Monoton", serif;
    word-spacing: 20px;
}

.about-text h1 {
    /* heading text */
    font-size: 100px;
    padding: 50px;
    font-family: "Monoton", serif;
}

.about-text p {
    /* paragraph text */
    font-size: 20px;
    font-style: italic;
}

.about-button {
    /* button */
    font-family: "Merriweather", serif;
    margin: 50px auto 0;
}

.about-button a {
    /* button info */
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 10 10px;
    padding: 15px 0;
    color: bisque;
    border: 5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
    border-radius: 25%
}

.about-button a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: moccasin;
    z-index: -1;
    transition: 0.5s;
    border-radius: 15px;
}

.about-button a:hover span {
    width: 100%;
    border-radius: 15px;
}

.about-button a:hover {
    color: black;
}

#sidenav {
    width: 250px;
    height: 100vh;
    right: -250;
    position: fixed;
    top: 0;
    background: rgb(155, 7, 7);
    z-index: 2;
    transition: 0.5s ;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    position: relative;
    top: 50;
    text-decoration: none;
    font-size: 23px;
    color: aliceblue;
}

nav ul li a:hover {
    color: yellow;
}

#menubtn {
    width: 50px;
    top: 20px;
    right: 30px;
    height: 50px;
    text-align: center;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
    position: fixed;
}

#menubtn img {
    width: 70px;
    margin-top: 15px;
}

@media screen and (max-width:770p) {
    .about-text h1 {
        font-size: 44px;
        padding: 5px;
        font-family: "Monoton", serif;
    }

    .about-button a {
        display: block;
        margin: 20px auto;
    }
}



/* -------page2---- */


#About-us {
    padding: 50px 0;
}

.title-text1 h1 {
    font-family: "Merriweather", serif;
    margin-left: 100px;
    font-size: 70px;
    color: beige;
    font-weight: bold;
}

#About-us {
    background: url(images/secondpage.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.title-text1 {
    /* <heading> */
    text-align: left;
    left: 50px;
    margin-left: 50px;
}

.image {
    /* trainer image */
    flex-basis: 50%;
    width: 30%;
    height: auto;
    float: left;
    margin-left: 120px;
    margin-top: 170px;
}

.about {
    /* About text */
    text-align: left;
    color: gold;
    padding-top: 100px;
}

.about h2 {
    /* About text */
    font-family: "Merriweather", serif;
    font-size: 40px;
    text-align: center;
    color: gold;

}

.about p {
    /* About text */
    text-align: center;
    font-size: 20px;
    color: blanchedalmond;
    padding-top: 50px;
}

.aboutbox {
    /* box+content */
    background-color: #E44008;
    color: white;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    border-radius: 20px;
    text-align: center;
    width: 50%;
    margin-top: 30px;
}

.stat-item {
    font-size: 1.5em;
    font-weight: bold;
}

.stat-number {
    font-size: 2.1em;
}




/* --------page 3------- */
#Timeings-and-services {
    background: url(images/thirdpage.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.time-service {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    height: 100vh;
}

.opening-box {
    background-color: #107896;
    border-radius: 25px;
    padding: 20px;
    width: 400px;
    text-align: center;
    margin-left: 50px;
    border: 5px solid gold;

}

.opening-box h1 {
    color: antiquewhite;
}

.opening-box h2 {
    color: gold;
}

.opening-box p {
    color: white;
}



/* --------page4------- */
#pricing {
    background: url(images/fourthpage.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.price{
    background-color:#E44008;
    display:flex;
    border-radius: 25px;
    padding: 20px;
    width: 400px;
    text-align: center;
    margin-left: 50px;
    border: 5px solid gold;
}
.strength-cardio-box {
    background-color: #107896;
    border-radius: 25px;
    padding: 20px;
    width: 400px;
    text-align: center;
    margin-left: 50px;
    border: 5px solid gold;
}